<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:include="common :: header"></head>
</head>

<body>
<!--Page content-->
<div id="page-content" class=" animated fadeIn">

    <!-- JVM 信息 -->
    <div class="row">
        <div class="col-sm-2 col-xl-2">
            <div class="panel text-center panel-primary panel-colorful">
                <div class="panel-heading">
                    <span class="panel-title">JVM 总内存</span>
                </div>
                <div class="panel-body">
                    <p id="totalMemory" th:text="${server.jvm.totalMemory}">正在加载...</p>
                </div>

            </div>
        </div>
        <div class="col-sm-2 col-xl-2">
            <div class="panel text-center panel-warning panel-colorful">
                <div class="panel-heading">
                    <span class="panel-title">JVM 已用内存</span>
                </div>
                <div class="panel-body">
                    <p id="runTimeMemory" th:text="${server.jvm.runTimeMemory}">正在加载...</p>
                </div>
            </div>
        </div>
        <div class="col-sm-2 col-xl-2">
            <div class="panel text-center panel-success panel-colorful">
                <div class="panel-heading">
                    <span class="panel-title">JVM 剩余内存</span>
                </div>
                <div class="panel-body">
                    <p id="freeMemory" th:text="${server.jvm.freeMemory}">正在加载...</p>
                </div>
            </div>
        </div>
        <div class="col-sm-2 col-xl-2">
            <div class="panel text-center panel-info panel-colorful">
                <div class="panel-heading">
                    <span class="panel-title">JDK 目录</span>
                </div>
                <div class="panel-body">
                    <p id="home" th:text="${server.jvm.home}">正在加载...</p>
                </div>
            </div>
        </div>
        <div class="col-sm-2 col-xl-2">
            <div class="panel text-center panel-mint panel-colorful">
                <div class="panel-heading">
                    <span class="panel-title">启动时间</span>
                </div>
                <div class="panel-body">
                    <p id="startTime" th:text="${server.jvm.startTime}">正在加载...</p>
                </div>
            </div>
        </div>
        <div class="col-sm-2 col-xl-2">
            <div class="panel text-center panel-colorful">
                <div class="panel-heading">
                    <span class="panel-title">运行时长</span>
                </div>
                <div class="panel-body">
                    <p id="runTime" th:text="${server.jvm.runTime}">正在加载...</p>
                </div>
            </div>
        </div>
    </div>

    <!-- 基本信息 -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">系统信息</span>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <td><span style="font-weight: 600">名称</span></td>
                                <td id="sysName" th:text="${server.basic.sysName}">正在加载...</td>
                                <td><span style="font-weight: 600">架构</span></td>
                                <td id="sysArch" th:text="${server.basic.sysArch}">正在加载...</td>
                            </tr>
                            <tr>
                                <td><span style="font-weight: 600">版本</span></td>
                                <td id="sysVersion" th:text="${server.basic.sysVersion}">正在加载...</td>
                                <td><span style="font-weight: 600">IP 地址</span></td>
                                <td id="sysIp" th:text="${server.basic.sysIp}">正在加载...</td>
                            </tr>
                            <tr>
                                <td><span style="font-weight: 600">项目部署目录</span></td>
                                <td id="userDir" colspan="3" th:text="${server.basic.userDir}">正在加载...</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CPU 和内存信息 -->
    <div class="row">
        <div class="col-md-6">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">CPU 信息</span>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <th>名称</th>
                                <td id="name" th:text="${server.cpu.name}">正在加载...</td>
                            </tr>
                            <tr>
                                <th>核心数</th>
                                <td id="physicalCount" th:text="${server.cpu.physicalCount}">正在加载...</td>
                            </tr>
                            <tr>
                                <th>逻辑数</th>
                                <td id="logicalCount" th:text="${server.cpu.logicalCount}">正在加载...</td>
                            </tr>
                            <tr>
                                <th>当前线程数</th>
                                <td id="threadCount" th:text="${server.cpu.threadCount}">正在加载...</td>
                            </tr>
                            <tr>
                                <th>其他</th>
                                <td id="other" ></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <!-- Search List -->
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">内存信息</span>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <th>总内存</th>
                                <td id="total" th:text="${server.memory.total}">正在加载...</td>
                            </tr>
                            <tr>
                                <th>已使用内存</th>
                                <td id="used" th:text="${server.memory.used}">正在加载...</td>
                            </tr>
                            <tr>
                                <th>可用内存</th>
                                <td id="available" th:text="${server.memory.available}">正在加载...</td>
                            </tr>
                            <tr>
                                <th>总交换内存</th>
                                <td id="swapTotal" th:text="${server.memory.swapTotal}">正在加载...</td>
                            </tr>
                            <tr>
                                <th>已使用交换内存</th>
                                <td id="swapUsed" th:text="${server.memory.swapUsed}">正在加载...</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 硬盘信息 -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title"> 硬盘信息</span>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="hardwareTable" class="table table-striped">
                            <thead>
                            <tr class="bg-light">
                                <th class="">盘符</th>
                                <th class="">格式类型</th>
                                <th class="">总容量</th>
                                <th class="">已用容量</th>
                                <th class="">可用容量</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="hardware : ${server.hardwareList}">
                                <td class='w200' style='text-align: left' th:text="${hardware.name}"></td>
                                <td th:text="${hardware.type}"></td>
                                <td th:text="${hardware.totalSpace}"></td>
                                <td th:text="${hardware.usabledSpace}"></td>
                                <td th:text="${hardware.freeSpace}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--End page content-->
<div th:include="common :: script"></div>
<script type="text/javascript" th:inline="javascript" >

    $(function() {


    });

</script>
</body>
</html>
