package ${packageName}.${moduleName}.web.controller;

import com.extlight.common.base.BaseController;
import com.extlight.common.base.BaseRequest;
import com.extlight.common.component.log.ActionLog;
import com.extlight.common.constant.ActionEnum;
import com.extlight.common.constant.ModuleEnum;
import com.extlight.common.exception.GlobalException;
import com.extlight.common.model.Result;
import com.extlight.common.utils.ExceptionUtil;
import ${packageName}.${moduleName}.constant.${className}ExceptionEnum;
import ${packageName}.${moduleName}.model.${className};
import ${packageName}.${moduleName}.model.dto.${className}DTO;
import ${packageName}.${moduleName}.model.vo.${className}VO;
import ${packageName}.${moduleName}.service.${className}Service;
import com.github.pagehelper.PageInfo;
import org.apache.shiro.authz.annotation.RequiresPermissions;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Controller;
import org.springframework.validation.annotation.Validated;
import org.springframework.web.bind.annotation.*;

import java.util.ArrayList;
import java.util.Arrays;
import java.util.List;
import java.util.Map;


/**
 * @Author ${author}
 * @ClassName: ${className}Controller
 * @ProjectName: ${projectName}
 * @Description: ${tableComment}控制器
 * @DateTime: ${dateTime}
 */
@Controller
@RequestMapping("/${requestMapping}")
public class ${className}Controller extends BaseController {

    @Autowired
    private ${className}Service ${variableName}Service;

    /**
     * 新增页面
     * @param resultMap
     * @return
     * @throws GlobalException
     */
    @GetMapping("/saveUI.html")
    @RequiresPermissions("${permission}:save")
    public String saveUI(Map<String,Object> resultMap) throws GlobalException {
        return render(SAVE_PAGE, resultMap);
    }

    /**
     * 修改页面
     * @param id
     * @param resultMap
     * @return
     * @throws GlobalException
     */
    @GetMapping("/updateUI/{id}.html")
    @RequiresPermissions("${permission}:update")
    public String updateUI(@PathVariable("id") Long id, Map<String,Object> resultMap) throws GlobalException {
        ${className} target = this.${variableName}Service.getById(id);
        if (target == null) {
	        ExceptionUtil.throwEx(${className}ExceptionEnum.ERROR_RESOURCE_NOT_EXIST);
        }

        resultMap.put("vo", target.toVoModel());
        resultMap.put("readOnly", false);
        return render(UPDATE_PAGE, resultMap);
    }

    /**
     * 列表页面
     * @param resultMap
     * @return
     * @throws GlobalException
     */
    @GetMapping("/listUI.html")
    @RequiresPermissions("${permission}:listUI")
    public String listUI(Map<String,Object> resultMap) throws GlobalException {
        return render(LIST_PAGE, resultMap);
    }

    /**
     * 详情页面
     * @param id
     * @param resultMap
     * @return
     * @throws GlobalException
     */
    @GetMapping("/detailUI/{id}.html")
    @RequiresPermissions("${permission}:query")
    public String detailUI(@PathVariable("id") Long id, Map<String,Object> resultMap) throws GlobalException {
        ${className} target = this.${variableName}Service.getById(id);
        if (target == null) {
	        ExceptionUtil.throwEx(${className}ExceptionEnum.ERROR_RESOURCE_NOT_EXIST);
        }

        resultMap.put("vo", target.toVoModel());
        resultMap.put("readOnly", true);
        return render(DETAIL_PAGE, resultMap);
    }

    //#########################################【AJAX 请求】##################################################

    @PostMapping("/save.json")
    @RequiresPermissions("${permission}:save")
    @ResponseBody
    @ActionLog(value="新增", moduleName = ModuleEnum.SYSTEM, actionType = ActionEnum.SAVE)
    public Result save(@Validated(BaseRequest.Save.class) ${className}DTO ${variableName}Dto) throws GlobalException {
        ${className} ${variableName} = ${variableName}Dto.toDo(${className}.class);
        return this.${variableName}Service.save(${variableName}) > 0 ? Result.success() : Result.fail();
    }

    @PostMapping("/remove.json")
    @RequiresPermissions("${permission}:remove")
    @ResponseBody
    @ActionLog(value="删除", moduleName = ModuleEnum.SYSTEM, actionType = ActionEnum.REMOVE)
    public Result remove(@RequestParam String idStr) throws GlobalException {
        String[] idArr = idStr.split(",");
        int num;
        if (idArr.length == 1) {
            num = this.${variableName}Service.remove(Long.valueOf(idArr[0]));
        } else {
            String[] idStrArr = idStr.split(",");
            List<Long> idList = new ArrayList<>(idStr.length());
            Arrays.stream(idStrArr).forEach(i -> idList.add(Long.valueOf(i)));
            num = this.${variableName}Service.removeBatch(idList);
        }
        return num > 0 ? Result.success() : Result.fail();
    }

    @PostMapping("/update.json")
    @RequiresPermissions("${permission}:update")
    @ResponseBody
    @ActionLog(value="编辑", moduleName = ModuleEnum.SYSTEM, actionType = ActionEnum.UPDATE)
    public Result update(@Validated(BaseRequest.Update.class) ${className}DTO ${variableName}DTO) throws GlobalException {
        ${className} target = this.${variableName}Service.getById(${variableName}DTO.getId());
        if (target == null) {
	        ExceptionUtil.throwEx(${className}ExceptionEnum.ERROR_RESOURCE_NOT_EXIST);
        }

        ${className} ${variableName} = ${variableName}DTO.toDo(${className}.class);
        return this.${variableName}Service.update(${variableName}) > 0 ? Result.success() : Result.fail();
    }

    @GetMapping("/list.json")
    @RequiresPermissions("${permission}:listUI")
    @ResponseBody
    public Result list(@Validated(BaseRequest.Query.class) ${className}DTO params) throws GlobalException {
        PageInfo<${className}> pageInfo = this.${variableName}Service.page(params);
        return Result.success(pageInfo);
    }

}
