package ${packageName}.${moduleName}.model;

import com.extlight.common.base.BaseResponse;
import lombok.*;
import lombok.experimental.Accessors;

import javax.persistence.Id;
import javax.persistence.Table;
import java.time.LocalDateTime;

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end

/**
 * @Author ${author}
 * @ClassName: ${className}
 * @ProjectName: ${projectName}
 * @Description: ${tableComment}
 * @DateTime: ${dateTime}
 */
@Getter
@Setter
@NoArgsConstructor
@AllArgsConstructor
@ToString
@Accessors(chain = true)
@Table(name = "${tableName}")
public class ${className} extends BaseResponse {

#foreach ($column in $columnList)

	/**
	 * $column.columnComment
	 */
	#if($column.columnName == $pk.columnName)
	@Id
	#end
	private $column.attrType $column.attrName;
#end

}
