package

import com.extlight.common.component.mybatis.CreateTime;${packageName}.${moduleName}.model;

import com.extlight.common.base.BaseResponse;
import com.extlight.common.component.mybatis.UpdateTime;
import lombok.*;
import lombok.experimental.Accessors;

import javax.persistence.Id;
import javax.persistence.Table;
import java.time.LocalDateTime;

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end

/**
 * @Author ${author}
 * @ClassName: ${className}
 * @ProjectName: ${projectName}
 * @Description: ${tableComment}
 * @DateTime: ${dateTime}
 */
@Getter
@Setter
@NoArgsConstructor
@AllArgsConstructor
@ToString
@Accessors(chain = true)
@Table(name = "${tableName}")
public class ${className} extends BaseResponse<${className}VO> {

	private static final long serialVersionUID = 1L;

#foreach ($column in $columnList)

	/**
	 * $column.columnComment
	 */
	#if($column.columnName == $pk.columnName)
	@Id
	#elseif($column.attrName == "createTime")
	@CreateTime
	#elseif($column.attrName == "updateTime")
	@UpdateTime
	#end
	private $column.attrType $column.attrName;
#end

}
