package ${packageName}.${moduleName}.model.dto;

import com.extlight.common.base.BaseRequest;
import ${packageName}.${moduleName}.model.${className};
import lombok.Getter;
import lombok.Setter;
import lombok.ToString;

import java.time.LocalDateTime;

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end

/**
 * @Author ${author}
 * @ClassName: ${className}DTO
 * @ProjectName: ${projectName}
 * @Description: ${tableComment}请求对象
 * @DateTime: ${dateTime}
 */
@Setter
@Getter
@ToString
public class ${className}DTO extends BaseRequest<${className}> {

#foreach ($column in $columnList)

	/**
	 * $column.columnComment
	 */
	private $column.attrType $column.attrName;
#end

}
