package ${packageName}.${moduleName}.mapper;

import com.extlight.common.base.BaseMapper;
import ${packageName}.${moduleName}.model.${className};

/**
 * @Author ${author}
 * @ClassName: ${className}Mapper
 * @ProjectName: ${projectName}
 * @Description: ${tableComment} Mapper
 * @DateTime: ${dateTime}
 */
public interface ${className}Mapper extends BaseMapper<${className}> {
	
}
