package ${packageName}.${moduleName}.mapper;

import ${packageName}.common.base.BaseMapper;
import ${packageName}.${moduleName}.model.${className};

/**
 * @Author ${author}
 * @Title: ${className}Mapper
 * @ProjectName ${ProjectName}
 * @Description: ${tableComment} Mapper
 * @Date ${dateTime}
 */
public interface ${className}Mapper extends BaseMapper<${className}> {
	
}
