package ${packageName}.${moduleName}.service;

import com.extlight.common.base.BaseService;
import com.extlight.common.exception.GlobalException;
import ${packageName}.${moduleName}.model.${className};

/**
 * @Author ${author}
 * @ClassName: ${className}Service
 * @ProjectName: ${projectName}
 * @Description: ${tableComment} Service
 * @DateTime: ${dateTime}
 */
public interface ${className}Service extends BaseService<${className}> {

}

