package ${packageName}.${moduleName}.service.impl;

import com.extlight.common.base.BaseMapper;
import com.extlight.common.base.BaseRequest;
import com.extlight.common.base.BaseServiceImpl;
import ${packageName}.${moduleName}.mapper.${className}Mapper;
import ${packageName}.${moduleName}.model.${className};
import ${packageName}.${moduleName}.model.dto.${className}DTO;
import ${packageName}.${moduleName}.service.${className}Service;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import tk.mybatis.mapper.entity.Example;

/**
 * @Author ${author}
 * @ClassName: ${className}ServiceImpl
 * @ProjectName: ${projectName}
 * @Description: ${tableComment} ServiceImpl
 * @DateTime: ${dateTime}
 */
@Service
public class ${className}ServiceImpl extends BaseServiceImpl<${className}> implements ${className}Service {

    @Autowired
    private ${className}Mapper ${variableName}Mapper;

    @Override
    public BaseMapper<${className}> getBaseMapper() {
        return this.${variableName}Mapper;
    }

    @Override
    protected Example getExample(BaseRequest params) {

        Example example = new Example(${className}.class);
        if (params != null) {
            Example.Criteria criteria = example.createCriteria();
            ${className}DTO ${variableName}DTO = (${className}DTO) params;
            // TODO 填充查询条件
        }

        return example;
    }

}