package ${packageName}.${moduleName}.service;

import ${packageName}.common.base.BaseService;
import ${packageName}.common.exception.GlobalException;
import ${packageName}.${moduleName}.model.${className};
import ${packageName}.${moduleName}.model.vo.${className}VO;

/**
 * @Author ${author}
 * @Title: ${className}Service
 * @ProjectName ${ProjectName}
 * @Description: ${tableComment} Service
 * @Date ${dateTime}
 */
public interface ${className}Service extends BaseService<${className}, ${className}VO> {

}

