package ${packageName}.${moduleName}.model.vo;

import lombok.Getter;
import lombok.Setter;
import lombok.ToString;

import java.io.Serializable;
import java.time.LocalDateTime;

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end

/**
 * @Author ${author}
 * @ClassName: ${className}VO
 * @ProjectName ${ProjectName}
 * @Description: ${tableComment}响应对象
 * @Date ${dateTime}
 */
@Getter
@Setter
@ToString
public class ${className}VO implements Serializable {

#foreach ($column in $columnList)

	/**
	 * $column.columnComment
	 */
	private $column.attrType $column.attrName;
#end

}
