<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freedom Boot</title>

    <!--Open Sans Font [ OPTIONAL ]-->
    <link th:href="@{/assets/css/26707bedc25a4344bb99d7e1215825f4.css}" rel='stylesheet' type='text/css'>

    <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet">

    <!--Nifty Stylesheet [ REQUIRED ]-->
    <link th:href="@{/assets/css/nifty.min.css}" rel="stylesheet">

    <!--Nifty Premium Icon [ DEMONSTRATION ]-->
    <link th:href="@{/assets/css/nifty-icons.min.css}" rel="stylesheet">

    <!--Morris.js [ OPTIONAL ]-->
    <link th:href="@{/assets/css/morris.min.css}" rel="stylesheet">

    <!--Magic Checkbox [ OPTIONAL ]-->
    <link th:href="@{/assets/css/magic-check.min.css}" rel="stylesheet">

    <!--Pace - Page Load Progress Par [OPTIONAL]-->
    <link th:href="@{/assets/css/pace.min.css}" rel="stylesheet">
    <script th:src="@{/assets/js/pace.min.js}"></script>



</head>

<body>
<!--Page content-->
<!--===================================================-->
<div id="page-content">

    <div class="jumbotron alert-primary">
        <p>Freedom Boot 是一款基于 Spring Boot 2.0 开发的后台管理系统，提供用户身份认证和授权的核心功能，同时扩展系统监控和代码生成功能，是开发者接私活不可或缺的神兵利器。</p>
    </div>

    <hr>
    <h3>项目介绍</h3>
    <div class="row">
        <div class="col-md-6">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">项目特点</h3>
                </div>
                <div class="panel-body">
                    <div class="alert alert-mint">
                        <p>1. 界面美观、简洁，内置丰富的主题</p>
                        <p>2. 目录结构分层明了，便于维护、扩展开发</p>
                        <p>3. 代码高度抽象，约定大于配置</p>
                        <p>4. 内置权限管理功能，灵活控制模块、菜单以及页面按钮</p>
                        <p>5. 内部扩展代码生成器功能，帮助开发者生成前后端代码文件，大大节省70%开发时间</p>
                        <p>6. 内部扩展系统监控功能，方便用户查看和监控服务器相关信息</p>
                        <p>7. 前端封装 freedom-tool 工具，方便灵活易用，是不熟练前端技术的开发者的福音<p>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">联系方式</h3>
                </div>
                <div class="panel-body">
                    <div class="alert alert-info">
                        <p>1. QQ：445847261</p>
                        <p>2. 邮箱：jx8996@163.com</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">系统管理</h3>
                        </div>
                        <div class="panel-body">
                            <div class="alert alert-primary">
                                <p>用户管理：提供用户数据管理以及角色授权功能</p>
                                <p>角色管理：提供角色数据管理以及权限授权功能</p>
                                <p>权限管理：提供权限数据管理功能</p>
                                <p>日志管理：提供用户操作日志查询功能</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">代码管理</h3>
                        </div>
                        <div class="panel-body">
                            <div class="alert alert-warning">
                                <p>数据表管理：提供一键生成代码功能</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">系统监控</h3>
                        </div>
                        <div class="panel-body">
                            <div class="alert alert-pink">
                                <p>系统信息：提供查询服务器信息功能</p>
                                <p>SQL 监控：提供查看数据库连接池等信息功能</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <h3>技术选型</h3>
    <div class="row">
        <div class="col-md-6">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">后端</span>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr class="bg-light">
                                <th class="">名称</th>
                                <th class="">说明</th>
                                <th class="">地址</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Spring Boot 2.1.5</td>
                                    <td>优秀的 web 应用开发框架</td>
                                    <td><a href="https://github.com/spring-projects/spring-boot" target="_blank">前往</a></td>
                                </tr>
                                <tr>
                                    <td>MyBatis 3.4.6</td>
                                    <td>简单易用的持久层框架</td>
                                    <td><a href="https://github.com/mybatis/mybatis-3" target="_blank">前往</a></td>
                                </tr>
                                <tr>
                                    <td>tkMapper 2.1.5</td>
                                    <td>通用 Mapper 框架</td>
                                    <td><a href="https://gitee.com/free/Mapper" target="_blank">前往</a></td>
                                </tr>
                                <tr>
                                    <td>PageHelper 1.2.10</td>
                                    <td>tkMapper 作者编写另一套分页框架</td>
                                    <td><a href="https://gitee.com/free/Mybatis_PageHelper" target="_blank">前往</a></td>
                                </tr>
                                <tr>
                                    <td>shiro 1.4.0</td>
                                    <td>简单易用的身份认证授权框架</td>
                                    <td><a href="http://shiro.apache.org/" target="_blank">前往</a></td>
                                </tr>
                                <tr>
                                    <td>flywaydb 5.2.4</td>
                                    <td>数据库版本管理工具</td>
                                    <td><a href="https://flywaydb.org/" target="_blank">前往</a></td>
                                </tr>
                                <tr>
                                    <td>Druid 1.1.10</td>
                                    <td>阿里巴巴开源的数据库连接池框架</td>
                                    <td><a href="https://github.com/alibaba/druid" target="_blank">前往</a></td>
                                </tr>
                                <tr>
                                    <td>Lombok 1.18.8</td>
                                    <td>使用注解形式来简化 Java 代码</td>
                                    <td><a href="https://www.projectlombok.org/" target="_blank">前往</a></td>
                                </tr>
                                <tr>
                                    <td>hibernate-validator 6.0.14</td>
                                    <td>后端数据校验</td>
                                    <td><a href="https://hibernate.org/validator/" target="_blank">前往</a></td>
                                </tr>
                                <tr>
                                    <td>thymeleaf 3.0.11</td>
                                    <td>web 开发模板引擎</td>
                                    <td><a href="https://www.thymeleaf.org/" target="_blank">前往</a></td>
                                </tr>
                                <tr>
                                    <td>oshi 3.13.2</td>
                                    <td>搜集服务器信息</td>
                                    <td><a href="https://github.com/oshi/oshi" target="_blank">前往</a></td>
                                </tr>
                                <tr>
                                    <td>EasyCaptcha 1.5.0</td>
                                    <td>图片验证码</td>
                                    <td><a href="https://github.com/whvcse/EasyCaptcha" target="_blank">前往</a></td>
                                </tr>
                                <tr>
                                    <td>ip2region 1.7.2</td>
                                    <td>最自由的ip地址查询库</td>
                                    <td><a href="https://github.com/lionsoul2014/ip2region" target="_blank">前往</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">前端</span>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="hardwareTable" class="table table-striped">
                            <thead>
                            <tr class="bg-light">
                                <th class="">名称</th>
                                <th class="">说明</th>
                                <th class="">地址</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>jQuery</td>
                                    <td>JavaScript 库</td>
                                    <td><a href="https://jquery.com/" target="_blank">前往</a></td>
                                </tr>
                                <tr>
                                    <td>layer</td>
                                    <td>非常好用的弹层工具</td>
                                    <td><a href="http://layer.layui.com/" target="_blank">前往</a></td>
                                </tr>
                                <tr>
                                    <td>bootstrap</td>
                                    <td>用于开发响应式布局、移动设备优先的 WEB 项目</td>
                                    <td><a href="https://getbootstrap.com/" target="_blank">前往</a></td>
                                </tr>
                                <tr>
                                    <td>bootstrap-table</td>
                                    <td>bootstrap 风格的 table 工具</td>
                                    <td><a href="https://bootstrap-table.com/" target="_blank">前往</a></td>
                                </tr>
                                <tr>
                                    <td>bootstrap-datepicker</td>
                                    <td>bootstrap 风格的日期工具</td>
                                    <td><a href="https://bootstrap-datepicker.readthedocs.io/en/latest/" target="_blank">前往</a></td>
                                </tr>
                                <tr>
                                    <td>bootstrap-select</td>
                                    <td>bootstrap 风格的 select 工具</td>
                                    <td><a href="http://developer.snapappointments.com/bootstrap-select/" target="_blank">前往</a></td>
                                </tr>
                                <tr>
                                    <td>BootstrapMenu</td>
                                    <td>bootstrap 风格的右键菜单</td>
                                    <td><a href="http://www.jq22.com/jquery-info5376" target="_blank">前往</a></td>
                                </tr>
                                <tr>
                                    <td>jquery-treegrid</td>
                                    <td>表格树工具</td>
                                    <td><a href="http://maxazan.github.io/jquery-treegrid/" target="_blank">前往</a></td>
                                </tr>
                                <tr>
                                    <td>bootstrap-validator</td>
                                    <td>前端数据校验工具</td>
                                    <td><a href="http://bootstrapvalidator.votintsev.ru/getting-started/" target="_blank">前往</a></td>
                                </tr>
                                <tr>
                                    <td>jquery-tab</td>
                                    <td>自定义的页面列表 Tab 插件</td>
                                    <td><a href="https://github.com/moonlightL/jquery-tab" target="_blank">前往</a></td>
                                </tr>
                                <tr>
                                    <td>jsencrypt</td>
                                    <td>加密工具</td>
                                    <td><a href="http://travistidwell.com/jsencrypt/" target="_blank">前往</a></td>
                                </tr>
                                <tr>
                                    <td>zTree</td>
                                    <td>多功能的“树”插件</td>
                                    <td><a href="http://www.treejs.cn/v3/api.php" target="_blank">前往</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End page content-->


<!-- jQuery -->
<script type="text/javascript" th:src="@{/plugins/jquery.min.js}"></script>

<!-- Bootstrap -->
<script type="text/javascript" th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>

<!-- Theme Javascript -->
<!--NiftyJS [ RECOMMENDED ]-->
<script th:src="@{/assets/js/nifty.min.js}"></script>
</body>
</html>