<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | Freedom Boot</title>
    <!-- Font-Awesome -->
    <link th:href="@{/plugins/fonts/font-awesome/css/font-awesome.min.css}" rel='stylesheet' type='text/css'>
    <!--STYLESHEET-->
    <link rel="stylesheet" th:href="@{/plugins/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/waves/waves.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/jquery-tab/css/jquery-tab.css}">
    <!--Open Sans Font [ OPTIONAL ]-->
    <link th:href="@{/assets/css/26707bedc25a4344bb99d7e1215825f4.css}" rel='stylesheet' type='text/css'>
    <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link th:href="@{/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!--Nifty Stylesheet [ REQUIRED ]-->
    <link th:href="@{/assets/css/nifty.min.css}" rel="stylesheet">
    <!--Nifty Premium Icon [ DEMONSTRATION ]-->
    <link th:href="@{/assets/css/nifty-icons.min.css}" rel="stylesheet">
    <link th:href="@{/assets/css/nifty-login.min.css}" rel="stylesheet">
    <!-- Layer  Stylesheet-->
    <link rel="stylesheet" th:href="@{/plugins/layer/theme/default/layer.css}">
</head>

<body>
<div id="container" class="effect aside-float aside-bright mainnav-lg">

    <!--NAVBAR-->
    <header id="navbar">
        <div id="navbar-container" class="boxed">

            <!--Brand logo & name-->
            <!--================================-->
            <div class="navbar-header">
                <a href="index.html" class="navbar-brand">
                    <img th:src="@{/assets/picture/logo.png}" alt="Nifty Logo" class="brand-icon">
                    <div class="brand-title">
                        <span class="brand-text">Freedom Boot</span>
                    </div>
                </a>
            </div>
            <!--================================-->
            <!--End brand logo & name-->

            <!--Navbar Dropdown-->
            <!--================================-->
            <div class="navbar-content clearfix">
                <ul class="nav navbar-top-links pull-left">

                    <!--Navigation toogle button-->
                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                    <li class="tgl-menu-btn">
                        <a class="mainnav-toggle" href="#">
                            <i class="freedom-pli-view-list"></i>
                        </a>
                    </li>
                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                    <!--End Navigation toogle button-->

                    <!--Notification dropdown-->
                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--                    <li class="dropdown">-->
<!--                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">-->
<!--                            <i class="freedom-pli-bell"></i>-->
<!--                            <span class="badge badge-header badge-danger"></span>-->
<!--                        </a>-->

<!--                        &lt;!&ndash;Notification dropdown menu&ndash;&gt;-->
<!--                        <div class="dropdown-menu dropdown-menu-md">-->
<!--                            <div class="pad-all bord-btm">-->
<!--                                <p class="text-semibold text-main mar-no">You have 9 notifications.</p>-->
<!--                            </div>-->
<!--                            <div class="nano scrollable">-->
<!--                                <div class="nano-content">-->
<!--                                    <ul class="head-list">-->
<!--                                        &lt;!&ndash; Dropdown list&ndash;&gt;-->
<!--                                        <li>-->
<!--                                            <a class="media" href="#">-->
<!--                                                <div class="media-left">-->
<!--                                                    <i class="freedom-pli-add-user-plus-star icon-2x"></i>-->
<!--                                                </div>-->
<!--                                                <div class="media-body">-->
<!--                                                    <div class="text-nowrap">New User Registered</div>-->
<!--                                                    <small class="text-muted">4 minutes ago</small>-->
<!--                                                </div>-->
<!--                                            </a>-->
<!--                                        </li>-->

<!--                                        &lt;!&ndash; Dropdown list&ndash;&gt;-->
<!--                                        <li class="bg-gray">-->
<!--                                            <a class="media" href="#">-->
<!--                                                <div class="media-left">-->
<!--                                                    <img class="img-circle img-sm" alt="Profile Picture" th:src="@{/assets/picture/9.png}">-->
<!--                                                </div>-->
<!--                                                <div class="media-body">-->
<!--                                                    <div class="text-nowrap">Lucy sent you a message</div>-->
<!--                                                    <small class="text-muted">30 minutes ago</small>-->
<!--                                                </div>-->
<!--                                            </a>-->
<!--                                        </li>-->

<!--                                        &lt;!&ndash; Dropdown list&ndash;&gt;-->
<!--                                        <li class="bg-gray">-->
<!--                                            <a class="media" href="#">-->
<!--                                                <div class="media-left">-->
<!--                                                    <img class="img-circle img-sm" alt="Profile Picture" th:src="@{/assets/picture/3.png}">-->
<!--                                                </div>-->
<!--                                                <div class="media-body">-->
<!--                                                    <div class="text-nowrap">Jackson sent you a message</div>-->
<!--                                                    <small class="text-muted">40 minutes ago</small>-->
<!--                                                </div>-->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            &lt;!&ndash;Dropdown footer&ndash;&gt;-->
<!--                            <div class="pad-all bord-top">-->
<!--                                <a href="#" class="btn-link text-dark box-block">-->
<!--                                    <i class="fa fa-angle-right fa-lg pull-right"></i>Show All Notifications-->
<!--                                </a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </li>-->
                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                    <!--End notifications dropdown-->

                </ul>
                <ul class="nav navbar-top-links pull-right">

                    <!--User dropdown-->
                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                    <li id="dropdown-user" class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle text-right">
                                <span class="pull-right">
                                    <!--<img class="img-circle img-user media-object" th:src="@{/assets/picture/1.png}" alt="Profile Picture">-->
                                    <i class="freedom-pli-male ic-user"></i>
                                </span>
                            <div class="username hidden-xs">[[${session.currentUser.username}]]</div>
                        </a>


                        <div class="dropdown-menu dropdown-menu-md dropdown-menu-right panel-default">

                            <!-- Dropdown heading  -->
                            <div class="pad-all bord-btm">
                                <p class="text-main mar-btm"><span class="text-bold">Freedom Boot</span> </p>
                                <div class="progress progress-sm">
                                    <div class="progress-bar" style="width: 100%;">
                                        <span class="sr-only">100%</span>
                                    </div>
                                </div>
                            </div>


                            <!-- User dropdown menu -->
                            <ul class="head-list">
                                <li>
                                    <a href="javascript:;;" data-url="/core/user/profile.html">
                                        <i class="freedom-pli-male icon-lg icon-fw"></i> 个人资料
                                    </a>
                                </li>
<!--                                <li>-->
<!--                                    <a href="#">-->
<!--                                        <span class="badge badge-danger pull-right">9</span>-->
<!--                                        <i class="freedom-pli-mail icon-lg icon-fw"></i> 消息-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="#">-->
<!--                                        <span class="label label-success pull-right">New</span>-->
<!--                                        <i class="freedom-pli-gear icon-lg icon-fw"></i> 设置-->
<!--                                    </a>-->
<!--                                </li>-->
                            </ul>

                            <!-- Dropdown footer -->
                            <div class="pad-all text-right">
                                <a href="javascript:;;" id="logout-btn" class="btn btn-primary">
                                    <i class="freedom-pli-unlock"></i> 注销
                                </a>
                            </div>
                        </div>
                    </li>
                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                    <!--End user dropdown-->

                    <li>
                        <a id="freedom-set-btn" href="#" class="aside-toggle navbar-aside-icon">
                            <i class="pci-ver-dots"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!--================================-->
            <!--End Navbar Dropdown-->

        </div>
    </header>
    <!--END NAVBAR-->

    <div class="boxed">

        <!-- MAIN PAGE  -->
        <div id="content-container">
            <div id="tab-container"></div>
        </div>
        <!-- END MAIN PAGE-->

        <!--RIGHT ASIDE-->
        <aside id="aside-container">
            <div id="aside">
                <div class="nano">
                    <div class="nano-content">

                        <!--Nav tabs-->
                        <!--================================-->
                        <ul class="nav nav-tabs nav-justified">
                            <!--<li class="active">-->
                                <!--<a href="#freedom-asd-tab-1" data-toggle="tab">-->
                                    <!--<i class="freedom-pli-speech-bubble-7"></i>-->
                                <!--</a>-->
                            <!--</li>-->
                            <li class="active">
                                <a href="#freedom-asd-tab-2" data-toggle="tab">
                                    <i class="freedom-pli-information icon-fw"></i> 主题
                                </a>
                            </li>
                            <li>
                                <a href="#freedom-asd-tab-3" data-toggle="tab">
                                    <i class="freedom-pli-wrench icon-fw"></i> 设置
                                </a>
                            </li>
                        </ul>
                        <!--================================-->
                        <!--End nav tabs-->



                        <!-- Tabs Content -->
                        <!--================================-->
                        <div class="tab-content">

                            <!--First tab (Contact list)-->
                            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                            <!--<div class="tab-pane fade in active" id="freedom-asd-tab-1">-->
                                <!--<p class="pad-hor mar-top text-semibold text-main">-->
                                    <!--<span class="pull-right badge badge-warning">3</span> Family-->
                                <!--</p>-->

                                <!--&lt;!&ndash;Family&ndash;&gt;-->
                                <!--<div class="list-group bg-trans">-->
                                    <!--<a href="#" class="list-group-item">-->
                                        <!--<div class="media-left pos-rel">-->
                                            <!--<img class="img-circle img-xs" th:src="@{/assets/picture/2.png}" alt="Profile Picture">-->
                                            <!--<i class="badge badge-success badge-stat badge-icon pull-left"></i>-->
                                        <!--</div>-->
                                        <!--<div class="media-body">-->
                                            <!--<p class="mar-no">Stephen Tran</p>-->
                                            <!--<small class="text-muted">Availabe</small>-->
                                        <!--</div>-->
                                    <!--</a>-->
                                    <!--<a href="#" class="list-group-item">-->
                                        <!--<div class="media-left pos-rel">-->
                                            <!--<img class="img-circle img-xs" th:src="@{/assets/picture/7.png}" alt="Profile Picture">-->
                                        <!--</div>-->
                                        <!--<div class="media-body">-->
                                            <!--<p class="mar-no">Brittany Meyer</p>-->
                                            <!--<small class="text-muted">I think so</small>-->
                                        <!--</div>-->
                                    <!--</a>-->
                                    <!--<a href="#" class="list-group-item">-->
                                        <!--<div class="media-left pos-rel">-->
                                            <!--<img class="img-circle img-xs" th:src="@{/assets/picture/1.png}" alt="Profile Picture">-->
                                            <!--<i class="badge badge-info badge-stat badge-icon pull-left"></i>-->
                                        <!--</div>-->
                                        <!--<div class="media-body">-->
                                            <!--<p class="mar-no">Jack George</p>-->
                                            <!--<small class="text-muted">Last Seen 2 hours ago</small>-->
                                        <!--</div>-->
                                    <!--</a>-->
                                    <!--<a href="#" class="list-group-item">-->
                                        <!--<div class="media-left pos-rel">-->
                                            <!--<img class="img-circle img-xs" th:src="@{/assets/picture/4.png}" alt="Profile Picture">-->
                                        <!--</div>-->
                                        <!--<div class="media-body">-->
                                            <!--<p class="mar-no">Donald Brown</p>-->
                                            <!--<small class="text-muted">Lorem ipsum dolor sit amet.</small>-->
                                        <!--</div>-->
                                    <!--</a>-->
                                    <!--<a href="#" class="list-group-item">-->
                                        <!--<div class="media-left pos-rel">-->
                                            <!--<img class="img-circle img-xs" th:src="@{/assets/picture/8.png}" alt="Profile Picture">-->
                                            <!--<i class="badge badge-warning badge-stat badge-icon pull-left"></i>-->
                                        <!--</div>-->
                                        <!--<div class="media-body">-->
                                            <!--<p class="mar-no">Betty Murphy</p>-->
                                            <!--<small class="text-muted">Idle</small>-->
                                        <!--</div>-->
                                    <!--</a>-->
                                    <!--<a href="#" class="list-group-item">-->
                                        <!--<div class="media-left pos-rel">-->
                                            <!--<img class="img-circle img-xs" th:src="@{/assets/picture/9.png}" alt="Profile Picture">-->
                                            <!--<i class="badge badge-danger badge-stat badge-icon pull-left"></i>-->
                                        <!--</div>-->
                                        <!--<div class="media-body">-->
                                            <!--<p class="mar-no">Samantha Reid</p>-->
                                            <!--<small class="text-muted">Offline</small>-->
                                        <!--</div>-->
                                    <!--</a>-->
                                <!--</div>-->

                                <!--<hr>-->

                            <!--</div>-->
                            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                            <!--End first tab (Contact list)-->


                            <!--Second tab (Custom layout)-->
                            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                            <div class="tab-pane fade in active" id="freedom-asd-tab-2">
                                <div id="freedom-set">
                                    <div id="nifty-theme">
                                        <ul class="list-group bg-trans">
                                            <li class="pad-top list-header">
                                                <p class="text-semibold text-main mar-no">主题颜色</p>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="freedom-theme-btn col-md-12 pad-ver">
                                                    <p class="text-semibold text-main">头部</p>
                                                    <div class="freedom-justify-theme">
                                                        <a href="#" class="freedom-theme freedom-a-light add-tooltip" data-theme="theme-light" data-type="a" data-title="(A). Light">
                                                            <div class="freedom-theme-brand"></div>
                                                            <div class="freedom-theme-head"></div>
                                                            <div class="freedom-theme-nav"></div>
                                                        </a>
                                                        <a href="#" class="freedom-theme freedom-a-navy add-tooltip" data-theme="theme-navy" data-type="a" data-title="(A). Navy Blue">
                                                            <div class="freedom-theme-brand"></div>
                                                            <div class="freedom-theme-head"></div>
                                                            <div class="freedom-theme-nav"></div>
                                                        </a>
                                                        <a href="#" class="freedom-theme freedom-a-ocean add-tooltip" data-theme="theme-ocean" data-type="a" data-title="(A). Ocean">
                                                            <div class="freedom-theme-brand"></div>
                                                            <div class="freedom-theme-head"></div>
                                                            <div class="freedom-theme-nav"></div>
                                                        </a>
                                                    </div>
                                                    <div class="freedom-justify-theme">
                                                        <a href="#" class="freedom-theme freedom-a-lime add-tooltip" data-theme="theme-lime" data-type="a" data-title="(A). Lime">
                                                            <div class="freedom-theme-brand"></div>
                                                            <div class="freedom-theme-head"></div>
                                                            <div class="freedom-theme-nav"></div>
                                                        </a>
                                                        <a href="#" class="freedom-theme freedom-a-purple add-tooltip" data-theme="theme-purple" data-type="a" data-title="(A). Purple">
                                                            <div class="freedom-theme-brand"></div>
                                                            <div class="freedom-theme-head"></div>
                                                            <div class="freedom-theme-nav"></div>
                                                        </a>
                                                        <a href="#" class="freedom-theme freedom-a-dust add-tooltip" data-theme="theme-dust" data-type="a" data-title="(A). Dust">
                                                            <div class="freedom-theme-brand"></div>
                                                            <div class="freedom-theme-head"></div>
                                                            <div class="freedom-theme-nav"></div>
                                                        </a>
                                                    </div>
                                                    <div class="freedom-justify-theme">
                                                        <a href="#" class="freedom-theme freedom-a-mint add-tooltip" data-theme="theme-mint" data-type="a" data-title="(A). Mint">
                                                            <div class="freedom-theme-brand"></div>
                                                            <div class="freedom-theme-head"></div>
                                                            <div class="freedom-theme-nav"></div>
                                                        </a>
                                                        <a href="#" class="freedom-theme freedom-a-yellow add-tooltip" data-theme="theme-yellow" data-type="a" data-title="(A). Yellow">
                                                            <div class="freedom-theme-brand"></div>
                                                            <div class="freedom-theme-head"></div>
                                                            <div class="freedom-theme-nav"></div>
                                                        </a>
                                                        <a href="#" class="freedom-theme freedom-a-well-red add-tooltip" data-theme="theme-well-red" data-type="a" data-title="(A). Well Red">
                                                            <div class="freedom-theme-brand"></div>
                                                            <div class="freedom-theme-head"></div>
                                                            <div class="freedom-theme-nav"></div>
                                                        </a>
                                                    </div>
                                                    <div class="freedom-justify-theme">
                                                        <a href="#" class="freedom-theme freedom-a-coffee add-tooltip" data-theme="theme-coffee" data-type="a" data-title="(A). Coffee">
                                                            <div class="freedom-theme-brand"></div>
                                                            <div class="freedom-theme-head"></div>
                                                            <div class="freedom-theme-nav"></div>
                                                        </a>
                                                        <a href="#" class="freedom-theme freedom-a-prickly-pear add-tooltip" data-theme="theme-prickly-pear" data-type="a" data-title="(A). Prickly pear">
                                                            <div class="freedom-theme-brand"></div>
                                                            <div class="freedom-theme-head"></div>
                                                            <div class="freedom-theme-nav"></div>
                                                        </a>
                                                        <a href="#" class="freedom-theme freedom-a-dark add-tooltip" data-theme="theme-dark" data-type="a" data-title="(A). Dark">
                                                            <div class="freedom-theme-brand"></div>
                                                            <div class="freedom-theme-head"></div>
                                                            <div class="freedom-theme-nav"></div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="freedom-theme-btn col-md-12 pad-ver">
                                                    <p class="text-semibold text-main">商标</p>
                                                    <div class="freedom-justify-theme">
                                                        <a href="#" class="freedom-theme freedom-b-light add-tooltip" data-theme="theme-light" data-type="b" data-title="(B). Light">
                                                            <div class="freedom-theme-brand"></div>
                                                            <div class="freedom-theme-head"></div>
                                                            <div class="freedom-theme-nav"></div>
                                                        </a>
                                                        <a href="#" class="freedom-theme freedom-b-navy add-tooltip" data-theme="theme-navy" data-type="b" data-title="(B). Navy Blue">
                                                            <div class="freedom-theme-brand"></div>
                                                            <div class="freedom-theme-head"></div>
                                                            <div class="freedom-theme-nav"></div>
                                                        </a>
                                                        <a href="#" class="freedom-theme freedom-b-ocean add-tooltip" data-theme="theme-ocean" data-type="b" data-title="(B). Ocean">
                                                            <div class="freedom-theme-brand"></div>
                                                            <div class="freedom-theme-head"></div>
                                                            <div class="freedom-theme-nav"></div>
                                                        </a>
                                                    </div>
                                                    <div class="freedom-justify-theme">
                                                        <a href="#" class="freedom-theme freedom-b-lime add-tooltip" data-theme="theme-lime" data-type="b" data-title="(B). Lime">
                                                            <div class="freedom-theme-brand"></div>
                                                            <div class="freedom-theme-head"></div>
                                                            <div class="freedom-theme-nav"></div>
                                                        </a>
                                                        <a href="#" class="freedom-theme freedom-b-purple add-tooltip" data-theme="theme-purple" data-type="b" data-title="(B). Purple">
                                                            <div class="freedom-theme-brand"></div>
                                                            <div class="freedom-theme-head"></div>
                                                            <div class="freedom-theme-nav"></div>
                                                        </a>
                                                        <a href="#" class="freedom-theme freedom-b-dust add-tooltip" data-theme="theme-dust" data-type="b" data-title="(B). Dust">
                                                            <div class="freedom-theme-brand"></div>
                                                            <div class="freedom-theme-head"></div>
                                                            <div class="freedom-theme-nav"></div>
                                                        </a>
                                                    </div>
                                                    <div class="freedom-justify-theme">
                                                        <a href="#" class="freedom-theme freedom-b-mint add-tooltip" data-theme="theme-mint" data-type="b" data-title="(B). Mint">
                                                            <div class="freedom-theme-brand"></div>
                                                            <div class="freedom-theme-head"></div>
                                                            <div class="freedom-theme-nav"></div>
                                                        </a>
                                                        <a href="#" class="freedom-theme freedom-b-yellow add-tooltip" data-theme="theme-yellow" data-type="b" data-title="(B). Yellow">
                                                            <div class="freedom-theme-brand"></div>
                                                            <div class="freedom-theme-head"></div>
                                                            <div class="freedom-theme-nav"></div>
                                                        </a>
                                                        <a href="#" class="freedom-theme freedom-b-well-red add-tooltip" data-theme="theme-well-red" data-type="b" data-title="(B). Well red">
                                                            <div class="freedom-theme-brand"></div>
                                                            <div class="freedom-theme-head"></div>
                                                            <div class="freedom-theme-nav"></div>
                                                        </a>
                                                    </div>
                                                    <div class="freedom-justify-theme">
                                                        <a href="#" class="freedom-theme freedom-b-coffee add-tooltip" data-theme="theme-coffee" data-type="b" data-title="(B). Coofee">
                                                            <div class="freedom-theme-brand"></div>
                                                            <div class="freedom-theme-head"></div>
                                                            <div class="freedom-theme-nav"></div>
                                                        </a>
                                                        <a href="#" class="freedom-theme freedom-b-prickly-pear add-tooltip" data-theme="theme-prickly-pear" data-type="b" data-title="(B). Prickly pear">
                                                            <div class="freedom-theme-brand"></div>
                                                            <div class="freedom-theme-head"></div>
                                                            <div class="freedom-theme-nav"></div>
                                                        </a>
                                                        <a href="#" class="freedom-theme freedom-b-dark add-tooltip" data-theme="theme-dark" data-type="b" data-title="(B). Dark">
                                                            <div class="freedom-theme-brand"></div>
                                                            <div class="freedom-theme-head"></div>
                                                            <div class="freedom-theme-nav"></div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="freedom-theme-btn col-md-12 pad-ver">
                                                    <p class="text-semibold text-main">导航</p>
                                                    <div class="freedom-justify-theme">
                                                        <a href="#" class="freedom-theme freedom-c-light add-tooltip" data-theme="theme-light" data-type="c" data-title="(C). Light">
                                                            <div class="freedom-theme-brand"></div>
                                                            <div class="freedom-theme-head"></div>
                                                            <div class="freedom-theme-nav"></div>
                                                        </a>
                                                        <a href="#" class="freedom-theme freedom-c-navy add-tooltip" data-theme="theme-navy" data-type="c" data-title="(C). Navy Blue">
                                                            <div class="freedom-theme-brand"></div>
                                                            <div class="freedom-theme-head"></div>
                                                            <div class="freedom-theme-nav"></div>
                                                        </a>
                                                        <a href="#" class="freedom-theme freedom-c-ocean add-tooltip" data-theme="theme-ocean" data-type="c" data-title="(C). Ocean">
                                                            <div class="freedom-theme-brand"></div>
                                                            <div class="freedom-theme-head"></div>
                                                            <div class="freedom-theme-nav"></div>
                                                        </a>
                                                    </div>
                                                    <div class="freedom-justify-theme">
                                                        <a href="#" class="freedom-theme freedom-c-lime add-tooltip" data-theme="theme-lime" data-type="c" data-title="(C). Lime">
                                                            <div class="freedom-theme-brand"></div>
                                                            <div class="freedom-theme-head"></div>
                                                            <div class="freedom-theme-nav"></div>
                                                        </a>
                                                        <a href="#" class="freedom-theme freedom-c-purple add-tooltip" data-theme="theme-purple" data-type="c" data-title="(C). Purple">
                                                            <div class="freedom-theme-brand"></div>
                                                            <div class="freedom-theme-head"></div>
                                                            <div class="freedom-theme-nav"></div>
                                                        </a>
                                                        <a href="#" class="freedom-theme freedom-c-dust add-tooltip" data-theme="theme-dust" data-type="c" data-title="(C). Dust">
                                                            <div class="freedom-theme-brand"></div>
                                                            <div class="freedom-theme-head"></div>
                                                            <div class="freedom-theme-nav"></div>
                                                        </a>
                                                    </div>
                                                    <div class="freedom-justify-theme">
                                                        <a href="#" class="freedom-theme freedom-c-mint add-tooltip" data-theme="theme-mint" data-type="c" data-title="(C). Mint">
                                                            <div class="freedom-theme-brand"></div>
                                                            <div class="freedom-theme-head"></div>
                                                            <div class="freedom-theme-nav"></div>
                                                        </a>
                                                        <a href="#" class="freedom-theme freedom-c-yellow add-tooltip" data-theme="theme-yellow" data-type="c" data-title="(C). Yellow">
                                                            <div class="freedom-theme-brand"></div>
                                                            <div class="freedom-theme-head"></div>
                                                            <div class="freedom-theme-nav"></div>
                                                        </a>
                                                        <a href="#" class="freedom-theme freedom-c-well-red add-tooltip" data-theme="theme-well-red" data-type="c" data-title="(C). Well Red">
                                                            <div class="freedom-theme-brand"></div>
                                                            <div class="freedom-theme-head"></div>
                                                            <div class="freedom-theme-nav"></div>
                                                        </a>
                                                    </div>
                                                    <div class="freedom-justify-theme">
                                                        <a href="#" class="freedom-theme freedom-c-coffee add-tooltip" data-theme="theme-coffee" data-type="c" data-title="(C). Coffee">
                                                            <div class="freedom-theme-brand"></div>
                                                            <div class="freedom-theme-head"></div>
                                                            <div class="freedom-theme-nav"></div>
                                                        </a>
                                                        <a href="#" class="freedom-theme freedom-c-prickly-pear add-tooltip" data-theme="theme-prickly-pear" data-type="c" data-title="(C). Prickly pear">
                                                            <div class="freedom-theme-brand"></div>
                                                            <div class="freedom-theme-head"></div>
                                                            <div class="freedom-theme-nav"></div>
                                                        </a>
                                                        <a href="#" class="freedom-theme freedom-c-dark add-tooltip" data-theme="theme-dark" data-type="c" data-title="(C). Dark">
                                                            <div class="freedom-theme-brand"></div>
                                                            <div class="freedom-theme-head"></div>
                                                            <div class="freedom-theme-nav"></div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>


                            </div>
                            <!--End second tab (Custom layout)-->
                            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

                            <!--Third tab (Settings)-->
                            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                            <div class="tab-pane fade" id="freedom-asd-tab-3">
                                <ul class="list-group bg-trans">
                                    <li class="pad-top list-header">
                                        <p class="text-semibold text-main mar-no">布局设置</p>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="pad-btm">
                                            <div class="pull-right">
                                                <input id="freedom-box-lay" class="toggle-switch" type="checkbox">
                                                <label for="freedom-box-lay"></label>
                                            </div>
                                            盒子布局
                                        </div>
                                    </li>
                                </ul>


                                <hr>

                                <ul class="list-group pad-btm bg-trans">
                                    <li class="list-header"><p class="text-semibold text-main mar-no">侧边栏设置</p></li>
                                    <li class="list-group-item">
                                        <div class="pull-right">
                                            <input id="freedom-nav-profile" class="toggle-switch" type="checkbox" checked>
                                            <label for="freedom-nav-profile"></label>
                                        </div>
                                        展示 Profile
                                    </li>
                                    <li class="list-group-item">
                                        <div class="pull-right">
                                            <input id="freedom-nav-coll" class="toggle-switch" type="checkbox">
                                            <label for="freedom-nav-coll"></label>
                                        </div>
                                        收缩模式
                                    </li>
                                    <!--<li class="list-group-item">-->
                                        <!--<div class="pull-right">-->
                                            <!--<input id="freedom-asd-vis" class="toggle-switch" type="checkbox">-->
                                            <!--<label for="freedom-asd-vis"></label>-->
                                        <!--</div>-->
                                        <!--显示-->
                                    <!--</li>-->
                                    <li class="list-group-item">
                                        <div class="pull-right">
                                            <input id="freedom-asd-float" class="toggle-switch" type="checkbox" checked>
                                            <label for="freedom-asd-float"></label>
                                        </div>
                                        浮动
                                    </li>
                                    <li  class="list-group-item">
                                        <div class="pull-right">
                                            <input id="freedom-asd-themes" class="toggle-switch" type="checkbox">
                                            <label for="freedom-asd-themes"></label>
                                        </div>
                                        暗黑主题
                                    </li>
                                </ul>
                            </div>
                            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                            <!--Third tab (Settings)-->
                        </div>
                    </div>
                </div>
            </div>
        </aside>
        <!--END RIGHT ASIDE-->

        <!-- NAVIGATION-->
        <nav id="mainnav-container">
            <div id="mainnav">
                <div id="mainnav-menu-wrap">
                    <div class="nano">
                        <div class="nano-content">
                            <!-- profile start -->
                            <div id="mainnav-profile" class="mainnav-profile">
                                <div class="profile-wrap">
                                    <div class="pad-btm">
                                        <span class="label label-success pull-right">New</span>
                                        <img class="img-circle img-sm img-border" th:src="@{${session.currentUser.avatar}}" alt="Profile Picture">
                                    </div>
                                    <a href="#profile-nav" class="box-block" data-toggle="collapse" aria-expanded="false">
                                            <span class="pull-right dropdown-toggle">
                                                <i class="dropdown-caret"></i>
                                            </span>
                                        <p class="mnp-name" th:text="${session.currentUser.username}">MoonlightL</p>
                                        <span class="mnp-desc" th:text="${session.currentUser.email}">jx8996@163.com</span>
                                    </a>
                                </div>
                                <div id="profile-nav" class="collapse list-group bg-trans">
                                    <a href="javascript:;;" data-url="/core/user/profile" class="list-group-item">
                                        <i class="freedom-pli-male icon-lg icon-fw"></i> 个人资料
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <i class="freedom-pli-gear icon-lg icon-fw"></i> 设置
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <i class="freedom-pli-information icon-lg icon-fw"></i> 帮助
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <i class="freedom-pli-unlock icon-lg icon-fw"></i> 注销
                                    </a>
                                </div>
                            </div>
                            <!-- profile end -->

                            <!-- menu start -->
                            <ul id="mainnav-menu" class="list-group">
<!--                                <li class="list-header">权限系统</li>-->
                                <li class="active-link">
                                    <a href="javascript:;" data-url="/home/dashboard.html">
                                        <i class="fa fa-home"></i>
                                        <span class="menu-title">
												<strong>主页</strong>
										</span>
                                    </a>
                                </li>
                                <li th:each="menu: ${menuList}">
                                    <a href="javascript:;;">
                                        <i th:class="${menu.icon}"></i>
                                        <span class="menu-title">
												<strong th:text="${menu.name}">目录</strong>
										</span>
                                        <i class="arrow"></i>
                                    </a>
                                    <ul class="collapse" th:each="child: ${menu.children}">
                                        <li>
                                            <a href="javascript:;" th:data-url="${child.url}" th:text="${child.name}">菜单</a>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                            <!-- menu end -->
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- END NAVIGATION -->

    </div>

    <!-- FOOTER -->
    <footer id="footer">
        <div class="hide-fixed pull-right pad-rgt">
            Freedom Boot
        </div>

        <p class="pad-lft">&#0169; 2019 MoonlightL</p>

    </footer>
    <!-- END FOOTER -->


    <!-- SCROLL PAGE BUTTON -->
    <button class="scroll-top btn">
        <i class="pci-chevron chevron-up"></i>
    </button>

</div>
<!-- END OF CONTAINER -->

<!-- THEME SETTINGS  -->
<!--===================================================-->
<div >
</div>
<!--===================================================-->
<!-- END THEME SETTINGS -->

<!-- jQuery -->
<script type="text/javascript" th:src="@{/plugins/jquery.min.js}"></script>
<!-- Bootstrap -->
<script type="text/javascript" th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>

<!-- Theme Javascript -->
<!--NiftyJS -->
<script th:src="@{/assets/js/nifty.min.js}"></script>

<!-- jquery tab -->
<script type="text/javascript" th:src="@{/plugins/waves/waves.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/BootstrapMenu/BootstrapMenu.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/jquery-tab/jquery-tab.js}"></script>
<!-- Layer -->
<script type="text/javascript" th:src="@{/plugins/layer/layer.js}"></script>
<!-- script -->
<script th:src="@{/assets/js/nifty-freedom.min.js}"></script>
<!-- index.js -->
<script type="text/javascript" th:src="@{/business/index.js}"></script>
</body>
</html>
