<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:include="common :: header"></head>
</head>

<body>
<!--Page content-->
<div id="page-content" class=" animated fadeIn">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel">
                <form id="dataForm" class="form-horizontal" th:action="@{${action}}" method="post">
                    <div class="panel-body">
                        <p class="text-main text-bold">基本资料</p>
                        <hr>
                        <div class="form-group">
                            <label class="col-lg-3 col-sm-2 control-label">文件管理方式</label>
                            <div class="col-lg-7 col-sm-9">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="manageMode" value="1"
                                               data-bv-notempty="true"
                                               data-bv-notempty-message="性别不能为空" /> 默认（本地）
                                    </label>
                                    <label>
                                        <input type="radio" name="manageMode" value="2" /> 七牛云
                                    </label>
                                    <label>
                                        <input type="radio" name="manageMode" value="3" /> OSS
                                    </label>
                                </div>
                            </div>
                        </div>
                        <p class="text-main text-bold">默认配置</p>
                        <hr>
                        <div class="form-group">
                            <label class="col-lg-3 col-sm-2 control-label">文件上传目录</label>
                            <div class="col-lg-7 col-sm-9">
                                <input type="text" class="form-control" name="uploadDir" placeholder="文件上传目录" />
                            </div>
                        </div>
                        <p class="text-main text-bold">七牛云配置</p>
                        <hr>
                        <div class="form-group">
                            <label class="col-lg-3 col-sm-2 control-label">文件上传目录</label>
                            <div class="col-lg-7 col-sm-9">
                                <input type="text" class="form-control" name="uploadDir" placeholder="文件上传目录" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 col-sm-2 control-label">文件上传目录</label>
                            <div class="col-lg-7 col-sm-9">
                                <input type="text" class="form-control" name="uploadDir" placeholder="文件上传目录" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 col-sm-2 control-label">文件上传目录</label>
                            <div class="col-lg-7 col-sm-9">
                                <input type="text" class="form-control" name="uploadDir" placeholder="文件上传目录" />
                            </div>
                        </div>
                        <p class="text-main text-bold">OSS 配置</p>
                        <hr>
                        <div class="form-group">
                            <label class="col-lg-3 col-sm-2 control-label">文件上传目录</label>
                            <div class="col-lg-7 col-sm-9">
                                <input type="text" class="form-control" name="uploadDir" placeholder="文件上传目录" />
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <button class="btn btn-primary" type="submit">提交</button>
                                <button class="btn btn-default" type="reset">重置</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--End page content-->
<div th:include="common :: script"></div>
<script type="text/javascript" th:inline="javascript" >

    $(function() {
        var prefix = [[${prefix}]];

    });

</script>
</body>
</html>
