<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.extlight.extensions.task.mapper.TaskJobMapper">

    <select id="findByJobName" parameterType="java.lang.String" resultType="com.extlight.extensions.task.model.TaskJob">
        SELECT id FROM t_task_job WHERE job_name = #{jobName}
    </select>

</mapper>