<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.extlight.core.mapper.SysPermissionMapper">

    <select id="selectByUserId" parameterType="java.lang.Long" resultType="com.extlight.core.model.SysPermission">
      SELECT
        p.id,
        p.`name`,
        p.per_code,
        p.icon,
        p.per_type,
        p.resource_type,
        p.pid,
        p.url,
        p.module_code,
        p.common,
        p.create_time,
        p.update_time
      FROM
        t_sys_permission p
      INNER JOIN t_sys_role_permission rp ON p.id = rp.permission_id
      INNER JOIN t_sys_user_role ur ON rp.role_id = ur.role_id
      WHERE
        ur.user_id = #{userId}
      AND p.state = 1
    </select>

  <select id="selectByRoleId" parameterType="java.lang.Long" resultType="com.extlight.core.model.SysPermission">
    SELECT
        p.id,
        p.`name`,
        p.per_code,
        p.icon,
        p.per_type,
        p.resource_type,
        p.pid,
        p.url,
        p.module_code,
        p.common,
        p.create_time,
        p.update_time
    FROM
        t_sys_permission p
    INNER JOIN t_sys_role_permission rp ON p.id = rp.permission_id
    WHERE
        rp.role_id = #{roleId}
    AND p.state = 1
  </select>

    <select id="selectCommonButtonList" parameterType="java.lang.String" resultType="com.extlight.core.model.SysPermission">
        SELECT
            p.name,
            p.icon,
            p.per_code
        FROM
            t_sys_permission p
        INNER JOIN (
            SELECT
                id
            FROM
                t_sys_permission
            WHERE
                url = #{url}
        ) a ON p.pid = a.id
        WHERE
            p.per_type = 3
        AND p.common = 1
        AND p.state = 1
    </select>

    <resultMap id="permissionMap" type="com.extlight.core.model.vo.SysPermissionVO">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="icon" column="icon"/>
        <result property="perCode" column="per_code"/>
        <result property="state" column="state"/>
        <result property="perType" column="per_type"/>
        <result property="resourceType" column="resource_type"/>
        <result property="pid" column="pid"/>
        <result property="url" column="url"/>
        <result property="moduleCode" column="module_code"/>
        <result property="common" column="common"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <collection property="children" column="id" select="com.extlight.core.mapper.SysPermissionMapper.selectByPid">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
            <result property="icon" column="icon"/>
            <result property="perCode" column="per_code"/>
            <result property="state" column="state"/>
            <result property="perType" column="per_type"/>
            <result property="resourceType" column="resource_type"/>
            <result property="pid" column="pid"/>
            <result property="url" column="url"/>
            <result property="moduleCode" column="module_code"/>
            <result property="common" column="common"/>
            <result property="createTime" column="create_time"/>
            <result property="updateTime" column="update_time"/>
        </collection>
    </resultMap>

    <select id="selectHierarchyPermissionList" resultMap="permissionMap">
        SELECT
            p.id,
            p.`name`,
            p.per_code,
            p.state,
            p.icon,
            p.per_type,
            p.resource_type,
            p.pid,
            p.url,
            p.module_code,
            p.common,
            p.create_time,
            p.update_time
        FROM
            t_sys_permission p
        WHERE
            p.per_type = 1
        ORDER BY p.sort
    </select>


    <select id="selectByPid" parameterType="java.lang.Long" resultType="com.extlight.core.model.vo.SysPermissionVO">
        SELECT
            p.id,
            p.`name`,
            p.per_code,
            p.state,
            p.icon,
            p.per_type,
            p.resource_type,
            p.pid,
            p.url,
            p.module_code,
            p.common,
            p.create_time,
            p.update_time
        FROM
            t_sys_permission p
        WHERE
            p.pid = #{id}
        ORDER BY p.sort
    </select>


    <select id="selectListByPerType" parameterType="java.lang.Integer" resultType="com.extlight.core.model.SysPermission">
        SELECT
            p.id,
            p.`name`,
            p.per_code,
            p.state,
            p.icon,
            p.per_type,
            p.resource_type,
            p.pid,
            p.url,
            p.module_code,
            p.common,
            p.create_time,
            p.update_time
        FROM
            t_sys_permission p
        WHERE
            p.per_type = #{perType}
        ORDER BY p.sort
    </select>

    <select id="selectByUrl" parameterType="java.lang.String" resultType="com.extlight.core.model.SysPermission">
        SELECT
            p.id,
            p.`name`,
            p.per_code,
            p.state,
            p.icon,
            p.per_type,
            p.resource_type,
            p.pid,
            p.url,
            p.module_code,
            p.common,
            p.create_time,
            p.update_time
        FROM
            t_sys_permission p
        WHERE
            p.url = #{url}
    </select>
    
</mapper>