<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.extlight.core.mapper.SysUserMapper">

    <select id="selectByUsername" parameterType="java.lang.String" resultType="com.extlight.core.model.SysUser">
        SELECT
            u.id,
            u.username,
            u.`password`,
            u.nickname,
            u.salt,
            u.state,
            u.super_admin,
            u.avatar,
            u.gender,
            u.email,
            u.mobile,
            u.address,
            u.qq,
            u.remark
        FROM
            t_sys_user u
        WHERE
            u.username = #{username}
        AND u.is_delete = 0
        LIMIT 1
    </select>
    
    <delete id="deleteBatch">
        DELETE FROM
          t_sys_user
        WHERE
          id
        IN
        <foreach collection="idList" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteUserRoleByUserId" parameterType="java.lang.Long">
        DELETE
        FROM
            t_sys_user_role
        WHERE
            user_id = #{userId}
    </delete>

    <insert id="insertUserRoleBatch">
        INSERT INTO t_sys_user_role (user_id, role_id) VALUES
        <foreach collection="paramList" item="param" separator=",">
            (#{param.userId},#{param.roleId})
        </foreach>
    </insert>
</mapper>