<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:include="common :: header"></head>
    <link th:href="@{/plugins/xterm/xterm.css}" rel="stylesheet">
</head>

<body>
<!--Page content-->
<div id="page-content" class=" animated fadeIn">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel">
                <div class="panel-body">
                    <form action="" class="form-inline" method="post">
                        <div class="form-group">
                            <label for="hostname">主机名</label>
                            <input type="text" class="form-control" id="hostname" placeholder="主机名">
                        </div>
                        <div class="form-group">
                            <label for="username">用户名</label>
                            <input type="text" class="form-control" id="username" placeholder="用户名">
                        </div>
                        <div class="form-group">
                            <label for="password">密码</label>
                            <input type="password" class="form-control" id="password" placeholder="密码">
                        </div>
                        <button id="connect-btn" type="button" class="btn btn-success">连接</button>
                        <button id="disconnect-btn" type="button" class="btn btn-danger" disabled>断开</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">终端控制台</h3>
                </div>
                <div class="panel-body">
                    <div id="terminal"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">操作结果</h3>
                </div>
                <div class="panel-body">
                    <div id="result"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End page content-->
<div th:include="common :: script"></div>
<script th:src="@{/plugins/xterm/xterm.js}"></script>
<script th:src="@{/plugins/crypto/crypto-js.js}"></script>
<script th:src="@{/plugins/cryptoUtil.js}"></script>
<script type="text/javascript" th:inline="javascript" >
    $(function() {

        terminalManager.term = new Terminal();
        terminalManager.term.open(document.getElementById('terminal'));

        $("#connect-btn").on("click", function () {

            var $hostname = $("#hostname").val();
            var $username = $("#username").val();
            var $password = $("#password").val();

            if ($hostname == "" || $username == "" || $password == "") {
                $.freedom.modal.msg("连接信息不能为空", 2);
                return;
            }

            terminalManager.connect($hostname, $username, $password);
        });

        $("#disconnect-btn").on("click", function () {
            terminalManager.disconnect();
        });

    });

    var terminalManager = {
        webSocket: null,
        term: null,
        connect: function(hostname, username, password) {

            if (terminalManager.webSocket != null) {
                $.freedom.modal.msg("webSocket 已连接", 1);
                return false;
            }

            var host = window.location.host;
            var url = "ws://" + host + "/webSocketServer?hostname=" + hostname + "&username=" + username + "&password=" +  Crypto.AES.enc(password);
            if ('WebSocket' in window) {
                terminalManager.webSocket = new WebSocket(url);
            } else if ('MozWebSocket' in window) {
                terminalManager.webSocket = new MozWebSocket(url);
            }

            terminalManager.webSocket.onopen = function(evnt) {
                $("#result").html("连接服务器成功!<br/>")

                terminalManager.term.on('data', function(data) {
                    terminalManager.webSocket.send(data);
                });
            };

            terminalManager.webSocket.onmessage = function(evnt) {
                terminalManager.term.write(evnt.data);
            };

            terminalManager.webSocket.onerror = function(evnt) {
                terminalManager.webSocket = null;
                $("#result").html($("#result").html() + "报错!<br/>")
                $("#connect-btn").prop("disabled", false);
                $("#disconnect-btn").prop("disabled", true);
            };

            terminalManager.webSocket.onclose = function(evnt) {
                terminalManager.webSocket = null;
                $("#result").html($("#result").html() + "与服务器断开连接!<br/>");
                $("#connect-btn").prop("disabled", false);
                $("#disconnect-btn").prop("disabled", true);
            }

            $("#connect-btn").prop("disabled", true);
            $("#disconnect-btn").prop("disabled", false);
        },
        disconnect: function () {
            if (terminalManager.webSocket == null) {
                $.freedom.modal.msg("webSocket 连接已断开", 2);
                return;
            }
            $("#connect-btn").prop("disabled", false);
            $("#disconnect-btn").prop("disabled", true);
            terminalManager.webSocket.close();
            terminalManager.term.reset();
        }
    }

</script>
</body>
</html>
